<% default_id = nil unless defined? default_id %>

<%= form_for user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<p> Team Listing: </p>	
	<% Team.all.each do |team| %>
		<%=
			check_box_tag(
				"user[team_ids][]",
				team.id,
				user.team_ids.include?(team.id) || team.id == default_id,
				:id => "team_id_#{team.id}"
			)
		%>
		<%= label_tag "team_id_#{team.id}", team.name %>
		<br>
	<% end %>
	<%= f.submit "Submit User" %>
<% end %>