<h1>Project: <%= @project.title %></h1>
<p>Project Description:
	<br>
	<%= @project.description %>
	<br>
	<br>
	<%= link_to "View items", project_items_path(@project) %>
</p>
<%= link_to "Return to Team Page", team_path(@project.team_id) %>
<%= link_to "Edit", edit_project_path(@project) %>
<%= link_to "Delete", project_path(@project), :method => :delete %>